@use '../../_css/queries.scss' as *;

.inclusions {
  display: grid;
  gap: 30px;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0;
  width: 100%;

  @include large-break {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mid-break {
    margin: 60px 0;
  }

  @include extra-small-break {
    grid-template-columns: 1fr;
  }
}

.icon {
  margin-bottom: 16px;
}

.title {
  padding-left: 5px;
}